<div id="login-person">
  <h2>Login</h2>
  <form action="/login-person" method="POST">
    <label for="input-Name">Name</label>
    <input type="text" id="input-Name" name="name" placeholder="Your name" />
    
    <label for="input-email">Email</label>
    <input type="text" id="input-email" name="email" placeholder="Your email" />
 
    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />
 
    <button type="submit">Create account</button>
 
    {{!-- error message will be added here --}}
  </form>
</div>