<div id="login-institution">
  <h2>Login</h2>
  <form action="/institution/login" method="POST">
    <label for="input-name">name</label>
    <input type="text" id="input-name" name="name" placeholder="Your name" />
 
 
    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />

 
    <button type="submit">Login</button>
 
    {{!-- error message will be added here --}}
  </form>
</div>