{{#if isCurrentUser}}
<h2>Welcome, {{ person.name }}!</h2>
<p>This is your profile page my friend!</p>
<button>
  <a href="/person/profile">Reload the page</a>
</button>
<button>
  <a href="/person/edit">
    Edit Profile
  </a>
</button>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}