<h2>
  Welcome,
  {{person.name}}
  !
</h2>
<p>
  This is your profile page!
</p>
<button>
  <a href="/person/profile">
    Reload the page
  </a>
</button>
{{person.email}}
<img src="{{person.image}}" class="img-thumbnail" alt="..." />
{{#if (isEqual id currentUser._id)}}
<button>
  <a href="/person/edit">
    Edit Profile
  </a>
</button>
{{else}}
<p>
  Still no logged in user, sorry!
</p>
{{/if}}