{{!-- views/auth/signup.hbs --}}

<div class="text-center">
  <div>
    <main class="form-signin">
      <h1 class="h3 mb-3 fw-normal">Please sign in (Person)</h1>
      <form action="/person/signup" method="POST" id="signup-person">
        <label for="input-name">Name</label>
        <input type="text" id="input-name" name="name" placeholder="Your name" />

        <label for="input-email">Email</label>
        <input type="email" id="input-email" name="email" placeholder="Your email" />

        <label for="input-password">Password</label>
        <input type="password" name="password" id="input-password" placeholder="********" />
        <div class="checkbox mb-3">
          <button class="w-50 btn btn-lg btn-primary" type="submit">Create account</button>

          {{!-- error message will be added here --}}
      </form>
  </div>
  </main>
</div>