<div>
  <blockquote class="blockquote" "m-3">
    <h2>Welcome Dear Friend!</h2>
  </blockquote>
</div>
<dl class="row">
  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9">This is a place where you can reduce food waste by helping others.</dd>

  <dt class="col-sm-3">Mission</dt>
  <dd class="col-sm-9">
    <p>Connect companies, institutions and people in general with each other with the purpose of helping the community.</p>
  </dd>

  <dt class="col-sm-3">How do i contribute?</dt>
  <dd class="col-sm-9">Please signup and search.</dd>
</dl>
</dd>
</dl>
<div><img src="" alt=""></div>
