<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <a href="/person/login">Login Person</a>
    <a href="/company/login">Login Company</a>
    <a href="/institution/login">Login institution</a>
    ||||||
    <a href="/person/signup">Sign Up Person</a>
    <a href="/company/signup">Sign Up Company</a>
    <a href="/institution/signup">Sign Up institution</a>
    <a href="/company/list">List of Companies</a>
    <a href="/institution/list">List of Institutions</a>
    <a href="/person/list">List of people</a>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>