<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    {{!create form for company/institution signup and person signup}}
  <a href="/login-person" >Login Individual</a>
  <a href="/login-company">Login Company</a>
  <a href="/signup-person">Are you a Private Individual? - Sign Up Here! </a>   
  <a href="/signup-company">Are you a Company/Institution? - Sign Up Here!</a>   
    </nav>
    
   

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>