<h1>
  Company?
  <button type="login" action="/company/login" method="GET">
<a href="/company/login">
 Login
</a>
  </button>
</h1>
<h1>
  Institution?
  <button type="login"action="/institution/login" method="GET">
<a href="/institution/login">
  Login
</a>
  </button>
</h1>
<h1>
  Person?
  <button type="login" action="/person/login" method="GET">
  <a href="/person/login">
  Login
</a>
</h1>