<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">
          Company
        </div>
        <div class="card-body">
          <p class="card-text">Login your Company</p>
          <a href="/company/login" class="btn btn-primary">Login </a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">
          Institution
        </div>
        <div class="card-body">
          <p class="card-text">Login your Institution</p>
          <a href="/institution/login" class="btn btn-primary">Login </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">
          Person
        </div>
        <div class="card-body">
          <p class="card-text">Login</p>
          <a href="/person/login" class="btn btn-primary">Login </a>
        </div>
      </div>
    </div>
  </div>
</div>