<h1>
  Company?
  <button type="signup">
    signup
  </button>
</h1>
<h1>
  Institution?
  <button type="signup">
    signup
  </button>
</h1>
<h1>
  Person?
  <button type="signup" action="/person/signup" method="GET">
    signup
  </button>
</h1>