

{{#if company}}
<h2>Welcome, {{ company.name }}!</h2>
<p>This is your profile page my friend!</p>
<button>
  <a href="/company/profile">Reload the page</a>
</button>
<button>
  <a href="/company/edit">
Edit Profile  </a>
</button>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}