
<h2>Welcome, {{ company.name }}!</h2>
<p>This is your profile page!</p>

<button>
  <a href="/company/profile">Reload the page</a>
</button>
{{company.email}}
<picture>
  <source srcset="..." type="image/svg+xml" />
  <img src="..." class="img-fluid img-thumbnail" alt="..." />
</picture>
{{#if isCurrentUser}}
<button>
  <a href="/company/edit">Edit Profile  </a>
</button>
{{/if}}